<% head do -%>
  <script type="text/javascript" charset="utf-8">
    function resetLoginAttempts() {
      $("#failed_logins").attr("disabled", null);
      $("#failed_logins").val(0);
      $("#failed_logins").siblings("span").text("Account will be unlocked on save.");
    };

    <%
      roles_hash = Role.all.collect do |role|
        permissions = role.permission_sets.collect { |set| [set.name, set.mask] }
        ["role_#{role.id}", Hash[*permissions.flatten]]
      end
      roles_hash = Hash[*roles_hash.flatten]
    -%>
    var roles = <%= roles_hash.to_json %>;

    <% original_mask = Hash[*(@user.permission_sets.collect { |set| [set.name, (set.mask) &~ @user.role_mask_for(set.name)] }.flatten)] %>
    var original_mask = <%= original_mask.to_json %>;

    function label_for(checkbox) {
      return $(checkbox).prev().prev();
    }

    function set_permissions() {
      var permissions = roles[this.id];
      for (name in permissions) {
        var mask = permissions[name];
        grant_permissions(this.id, name, mask);
      }
    }

    function update_permissions() {
      var permissions = roles[this.id];
      for ( name in permissions ) {
        var mask = permissions[name];
        if ( this.checked ) {
          grant_permissions(this.id, name, mask)
        }
      }
    }

    function grant_permissions(role, name, mask) {
      var permissions = $("input[id^='"+ name +"_']");
      $.each(permissions, function(i, permission) {
        index = 1 << i;
        if ( (mask & index) == index ) add_permission(permissions[i], name, index);
      });
    }

    function revoke_permissions(role, name, mask) {    
      var permissions = $("input[id^='"+ name +"_']");
      $.each(permissions, function(i, permission) {
        index = 1 << i;
        if ( (mask & index) != index ) return;
        if ( (original_mask[name] & index ) != index ) remove_permission(permissions[i], name, index);
      });
    }

    function add_permission(permission, name, index) {
      if ( !permission.checked ) {
        label_for(permission).addClass("auto_add");
      }
      permission.checked = true;
      if ($(permission).parent().children("input[type=checkbox]").attr("checked")) {
        $("legend input[type='checkbox']", $(permission).parent()).attr("checked", "checked");
      }
    }

    function remove_permission(permission, name, index) {
      label_for(permission).removeClass("auto_add");
      permission.checked = false;
    }

    $(document).ready(function() {
      $("#role").change(function() {
        // Uncheck all permissions
        $("#permissions input[type='checkbox']").attr("checked", "");
        var role_id = $("#role").val();
        var permissions = roles["role_" + role_id];
        for (name in permissions) {
          var mask = permissions[name];
          grant_permissions("role_" + role_id, name, mask);
        }
      });
    });
  </script>
<% end -%>

<style type="text/css" media="screen">
  fieldset p.note { float: left; left: 2em; margin: 0; position: relative; top: 0em; z-index: 0; }
</style>

<fieldset>
  <legend>Account Information</legend>

  <label class="required" for="email">Email Address <em>*</em></label>
  <input type="text" name="user[email]" id="email" value="<%= @user.email %>">

  <% if PortAuthority::use_logins? %>
    <label class="required" for="login">Login <em>*</em></label>
    <input type="text" name="user[login]" id="login" value="<%= @user.login %>">
  <% end %>

  <label class="required" for="password">Password <em>*</em></label>
  <% if PortAuthority::use_crypted_passwords? %>
  <input type="password" name="user[password]" id="password">
  <% else %>
  <input type="text" name="user[password]" value="<%= @user.password %>" id="password">
  <% end %>

  <% if @user.new_record? %>
  <p class="note"><a href="#" id="generate_password">Generate a random password.</a></p>
  <% end %>

  <script type="text/javascript" charset="utf-8">
    $('#generate_password').click(function() {
      $.get("/admin/users/random_password", null, function(data, status) {
        data = data.replace(/\s/g, "");
        $("#password").val(data);
        $("#password_confirmation").val(data);
      })
      return false;
    })
  </script>

  <label for="password_confirmation">Confirm Password</label>
  <input type="password" name="user[password_confirmation]" id="password_confirmation">

  <% if PortAuthority::allow_blank_passwords? && authorized?("Users", "override") %>
  <label for="remove_password" style="color: #f00; display: inline; float: none;">Remove Password?</label>
  <input type="checkbox" value="true" name="remove_password" id="remove_password">
  <% end %>

  <% unless PortAuthority::allow_multiple_roles? -%>
  <label>Role</label>
  <select name="user[role]" id="role">
    <%= "<option value='' selected='selected'> </option>" unless @user.roles.size > 0 %>
    <% Role.all.each do |role| %>
    <option value="<%= role.id %>" <%= 'selected="selected"' if @user.roles.size > 0 and @user.roles.first.id == role.id %> ><%= role.name %></option>
  <% end %>
  </select>
  <% end -%>

  <label for="active">Active?</label>
  <input type="hidden" value="0" class="hidden" name="user[active]"/>
  <input type="checkbox" name="user[active]" id="active" value="1" <%= 'checked="checked"' if @user.active? %>>

  <% if PortAuthority::use_lockouts? %>
  <label>Failed Logins</label>
  <div style="float: left;">
  <% if @user.locked? %>
    <span style="color: #f00;"><%= @user.failed_logins %>: Account Locked. <a href="javascript:void(0);" onclick="resetLoginAttempts();">Reset Login Attempts</a></span>
    <input type="hidden" name="user[failed_logins]" id="failed_logins" value="<%= @user.failed_logins %>" disabled="disabled">
  <% else %>
    <span><%= @user.failed_logins %>: Account Not Locked.</span>
  <% end %>
  </div>
  <% end %>

  <% unless @user.new_record? -%>
  <label>Last Login</label>
  <strong style="color: #999; float: left;"><%= @user.last_login.strftime "%Y-%m-%d" rescue "-" %></strong>
  <% end -%>
  
</fieldset>

<fieldset>
  <legend>Contact Information</legend>

  <label class="required" for="first_name">First name <em>*</em></label>
  <input type="text" name="user[first_name]" id="first_name" value="<%= @user.first_name %>">

  <label class="required" for="last_name">Last name <em>*</em></label>
  <input type="text" name="user[last_name]" id="last_name" value="<%= @user.last_name %>">

  <label for="organization">Organization</label>
  <input type="text" name="user[organization]" id="organization" value="<%= @user.organization %>">

  <label for="user_title">Title</label>
  <input type="text" name="user[title]" id="user_title" value="<%= @user.title %>">

  <label for="address">Address</label>
  <input type="text" name="user[address]" id="address" value="<%= @user.address %>">

  <label for="address2">Address 2</label>
  <input type="text" name="user[address2]" id="address2" value="<%= @user.address2 %>">

  <label for="city">City</label>
  <input type="city" name="user[city]" id="city" value="<%= @user.city %>">

  <label for="state">State</label>
  <input type="state" name="user[state]" id="state" value="<%= @user.state %>">

  <label for="postal_code">Postal Code</label>
  <input type="text" name="user[postal_code]" id="postal_code" value="<%= @user.postal_code %>">
  
  <label for="postal_code">Country</label>
  <input type="text" name="user[country]" id="country" value="<%= @user.country %>">

  <label for="office_phone">Office Phone</label>
  <input type="text" name="user[office_phone]" id="office_phone" value="<%= @user.office_phone %>">

  <label for="mobile_phone">Mobile Phone</label>
  <input type="text" name="user[mobile_phone]" id="mobile_phone" value="<%= @user.mobile_phone %>">

  <label for="fax">Fax</label>
  <input type="text" name="user[fax]" id="fax" value="<%= @user.fax %>">

	<label for="website">Website</label>
	<input type="text" name="user[www]" id="website" value="<%= @user.www %>">
	<label for="force_password_update">Force Password Update on Next Login?</label>
  <input type="checkbox" name="user[force_password_update" id="force_password_update" value="1" <%= 'checked="checked"' if @user.force_password_update?%>/>
	<% if PortAuthority.use_approvals? %>
		<label for="usage_statement">Usage Statement</label>
		<div class="textarea">
			<textarea name="user[usage_statement]" id="usage_statement" rows=7><%= @user.usage_statement %></textarea>
		</div>
	<% end%>
</fieldset>

<% if User.properties(:default).has_property?(:military_rank) %>
<fieldset id="military">
  <legend>Military</legend>

  <label class="required" for="military_rank">Rank</label>
  <input type="text" name="user[military_rank]" id="military_rank" value="<%= @user.military_rank %>">

  <label class="required" for="military_command">Ship / Command</label>
  <input type="text" name="user[military_command]" id="military_command" value="<%= @user.military_command %>">
</fieldset>
<% end %>

<fieldset>
  <legend>Preferences</legend>
	<div class="clear"></div>
	<%= plugin("user/edit/content_notifications", :user => @user) %>
</fieldset>
