<%= UI::ErrorMessages.new(self, "There are problems with this User Account that prevented it from being saved.", response.errors).to_s %>

<% head "tabs_css" do %>
<style type="text/css" media="screen">
  form .tabs { list-style: none; margin: 0 0 1em; padding: 0; }
  form .tabs li { display: inline; font-size: 1.4em; padding: 0 0.75em; }
  form .tabs li.selected a { border-bottom: 1px solid #000; color: #000; }
</style>
<% end %>

<% head "tabs_js" do %>
<script type="text/javascript" charset="utf-8">
  function select_tab(tab) {
    tab.siblings().removeClass("selected");
    tab.addClass("selected");
    id = $("a", tab).attr("href").substring(1);
    $(".column[id!='"+ id +"']").hide();
    $("#" + id).show();
  }

  $(function () {
    $(".column h2").hide();

    // Select the first tab/
    select_tab($("form .tabs li:first"));

    // Wire up onclick events for other tabs.
    $("form .tabs a").click(function () {
      select_tab($(this).parent());
      return false;
    });
  });

</script>
<% end %>

<form action="/admin/users/<%= @user.id %>" method="post">
	<% unless @user.new_record? %>
  	<input type="hidden" name="_method" value="put">
	<% end %>

  <%= plugin("user/edit/context", :user => @user) %>

  <ul class="tabs">
    <li><a href="#account">Account</a></li>
    <% if PortAuthority::allow_multiple_roles? %><li><a href="#roles">Roles</a></li><% end %>
    <% if PortAuthority::allow_user_specific_permissions? %><li><a href="#permissions">Permissions</a></li><% end %>
    <% plugin("user/edit/tabs", :user => @user).each do |tab| %>
    	<li><%= tab.link %></li>
    <% end %>
  </ul>

  <div id="account" class="column">
    <%= render "admin/users/_form" %>
  </div>

  <% if PortAuthority::allow_multiple_roles? -%>
  <div id="roles" class="column">
    <h2>Roles</h2>
    <%= render "admin/users/_roles" %>
  </div>
  <% end %>

  <div id="permissions" class="column" style='<%= "display: none" unless PortAuthority::allow_user_specific_permissions? %>'>
    <h2>Permissions</h2>
    <%= render "admin/users/_permissions" %>
  </div>

  <%= plugin("user/edit/tabs", :user => @user) %>
  
  <% if plugin("user/edit/right_column").size > 0 %>
  <div class="column">
    <%= plugin("user/edit/right_column") %>
  </div>
  <% end%>
    

  <div class="clear"> </div>

  <div class="actions">
    <input type="submit" class="submit button" value="Save">
    <% if !@user.errors.empty? && authorized?("Users", "override") %>
    <label for="override" style="color: #f00; margin-left: 10px; display: inline; float: none;">Override Validation Errors?</label><input type="checkbox" value="true" name="override" id="override">
    <% end %>
    <% if PortAuthority::use_approvals? && @user.awaiting_approval? %>
		<a href="/admin/users/<%= @user.id %>/approve">Approve</a>
		<% end %>
    <a href="/admin/users" class="cancel">Cancel</a>
		<% unless @user.new_record? %>
    	<a class="modal_link delete" href="/admin/users/<%= @user.id %>/delete"><img src="<%= UI::Asset.new("images/delete_big.png") %>"></a>
		<% end %>
  </div>
</form>

<div id="modal"></div>
