<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <style type="text/css" media="screen">
      body { background-color: #eee; font: 10px/20px "Lucida Grande", sans-serif; }
      #content { width: 800px; margin: 20px auto; padding: 20px; background-color: #fff; }
      th, td { padding: 5px }
      th { background-color: #eee; width: 200px; border-right: 2px solid #ccc; padding-right: 10px; text-align: left }
    </style>
  </head>
  <body>
    <div id="content">
      <h2>PortAuthority</h2>
      <table>
        <% PortAuthority.config.each do |option, value| %>
        <tr>
          <th><%= option %></th>
          <td><%= h value.inspect %></td>
        </tr>
        <% end %>
      </table>

      <% plugin("admin/config").each do |config| %>
      	<h2><%= config.port %></h2>
      	<table>
        	<% config.port.config.each do |option, value| %>
        		<tr>
          		<th><%= option %></th>
							<td><%= h value.inspect %></td>
        		</tr>
					<% end %>
      	</table>
      <% end %>
    </div>
  </body>
</html>