<% head do %>
<style type="text/css" media="screen">
  legend {margin-left:-6px;}
</style>
<script type="text/javascript" charset="utf-8">
  function toggle(link, affecting) {
    $(link).parents('fieldset').find(":checkbox" + affecting).click()
  }
</script>
<% end %>

<h2>Permissions</h2>
<% PermissionSet.permissions.sort_by { |name, permissions| name }.each do |name, permissions| %>
<fieldset class="permissions">
  <legend style="width:32em;">
    <span style="width:20em;"><%= name %></span>
    <span style="width:10em; text-align:right; font-size:9px;">
      <a href="javascript: void(0);" onclick="toggle(this, ':not(:checked)'); return false;">all</a> &nbsp; <a href="javascript: void(0);" onclick="toggle(this, ':checked');">none</a>
    </span>
  </legend>
  
  <%
    permissions.each do |permission|
      set = @role.permission_sets.detect { |set| set.name == name }
      permission_name, permission_description = permission.split(":", 2)
      permission_description ||= Extlib::Inflection.humanize(permission_name)
      id = "#{name}_#{permission_name}"
  %>
  <label for="<%= id %>"><%= permission_description %></label>
  <input type="hidden"   name="permissions[<%= name %>][<%= permission_name %>]" value="0">
  <input type="checkbox" name="permissions[<%= name %>][<%= permission_name %>]" id="<%= id %>" value="1" <%= 'checked="checked"' if set && set.include?(permission_name) %>>
  <div style="clear:both;"></div>
  <% end %>
</fieldset>
<% end %>